.section {
	color: #ffffff;
	text-align: center;
	margin-bottom: 56px;

	.txt {
		max-width: 446px;
		margin: 0 auto;
		line-height: 26px;
	}
}

@media (max-width: 800px) {
	.section {
		order: 3;
        margin-bottom: 16px;
	}
}
