.layout {
	background-color: #000000;
	height: 1603px;
	font-family: Helvetica;

	.container {
		margin: 0 auto;
		max-width: 964px;
		display: flex;
		flex-direction: column;
	}

	.background {
		height: 726px;
		background-size: cover;
		background-position: center;
		width: 100%;
		background-image: url('../../images/bgBig.png');
	}
}
