.layout {
	background-color: #000000;
	overflow-y: auto;
	height: 100vh;
	font-family: Helvetica;

	.container {
		margin: 0 auto;
		max-width: 964px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.background {
		background-size: cover;
		background-position: center;
		width: 100%;
		background-image: url('../../images/bgBig.png');
	}
}

@media (max-width: 600px) {
	.layout {
		.container {
			padding: 0 20px;
		}

		.background {
			background-size: auto 1789px;
			background-position: bottom center;
			background-image: url('../../images/bgBigForMobile.jpg');
		}
	}
}

@media (max-width: 400px) {
	.layout {
		.container {
			padding: 0;
		}
	}
}
