.header {
	padding-top: 49px;
	text-align: center;

	.title {
		margin: 0;
	}

	.line {
		margin: 56px auto;
		width: 700px;
		height: 2px;
		background-color: #ffffff;
	}
}

@media (max-width: 800px) {
	.header {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		padding: 0;

		.title {
			.melbet {
				width: 350px;
				height: 105px;
			}
		}

		.line {
			margin: 16px auto;
			width: 348px;
		}
	}
}
